<div class="row">
    <h2 class="header">Dashboard</h2>
    
    <div class="card" ng-repeat="user in users">
            
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{user.Name}}<i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="mailto:{{user.Email}}">{{user.Email}}</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
              <p>{{user}}</p>
            </div>
      </div>
</div>

