<div layout="column" layout-fill>
  <md-toolbar md-scroll-shrink class="md-hue-1">
  <div class="md-toolbar-tools ">
    <h2>
    <span>login</span>
    </h2>
  </div>
  </md-toolbar>
  <md-content class="md-padding" >
  <form name="forgotPasswordForm" novalidate>
    <md-input-container>
    <label>Email</label>
    <input required name="email" ng-model="model.email">
    <div ng-messages="forgotPasswordForm.email.$error">
      <div ng-message="required">This is required.</div>
    </div>
    </md-input-container>
    <md-content class="md-padding" >
    <div layout="column" layout-margin layout-fill layout-padding  >
      <md-button  flex class="md-raised md-accent" ng-click="forgotPassword()" >Recover Password</md-button>
    </div>
    </md-content >
  </form>
  
  </md-content>
  
</div>