<div class="row">
  <h2 class="header">Forgot password</h2>
  <form class="col s12" name="forgotPasswordForm" novalidate>
      
      
      <div class="row">
        <div input-field class="input-field col s12">
          <input id="email" type="text" class="validate" ng-model="model.email">
          <label for="email">Email</label>
          <div ng-if="loginForm.email.$error">
           <div >This is required.</div>
       </div>
        </div>
      </div>
      <div class="row">
          
          <button class="btn waves-effect waves-light" ng-click="forgotPassword()" type="submit" name="action">Recover Password
        <i class="mdi-content-send right"></i>
      </button>
      
      </div>
    </form>
  </div>
 
</div>