<div class="row">
	<h2 class="header">Login</h2>
	<form class="col s12" name="loginForm" novalidate>
    
      <div class="row">
        <div input-field class="col s6">
          <input id="email" type="text" class="validate" ng-model="model.email" required>
          <label for="email">Email</label>
          <div ng-if="loginForm.email.$error">

    				<div>This is required.</div>
    		  </div>
        </div>
       
      </div>
      <div class="row">
        <div input-field class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="model.password">
          <label for="password">Password</label>
          <div ng-if="loginForm.password.$error">
					 <div >This is required.</div>
		   </div>
        </div>
      </div>
      <div class="row">
      	  
          <button class="btn waves-effect waves-light" ng-click="login()" type="submit" name="action">Login
		    <i class="mdi-content-send right"></i>
		  </button>
		  <a class="waves-effect waves-teal btn-flat" ng-click="forgotPassword()">Forgot password</a>
      </div>
    </form>
  </div>
 
</div>