node_modules/
/build
/lib
/tools/nunit
/tools/nant
/tools/IlMerge
bin
obj
*.user
*.ncrunchsolution
*.suo
*.user
*.ncrunchsolution
*.ncrunchproject
*.suo
.dropbox.attr


/generators/app/templates/MainSolutionTemplate/src/MainSolutionTemplate.Website2
/generators/app/templates/MainSolutionTemplate/src/.vs/config
