node_modules/
/build
/lib
/tools/nunit
/tools/nant
/tools/IlMerge
bin
obj
*.user
*.ncrunchsolution
*.suo
*.user
*.ncrunchsolution
*.ncrunchproject
*.suo
.dropbox.attr


**/_NCrunch*
generators/app/templates/MainSolutionTemplate/src/MainSolutionTemplate.Api/nCrunchTemp_7ab116ed-6c36-45b4-95c9-431bbff3fbcd

