<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Nancy view</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
  <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/bootstrap-material-design/dist/fonts/Material-Design-Icons.woff?-g7cqhn" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <p></p>
    <div class="col-md-6 col-md-offset-5 jumbotron ">

      <p><img src="http://data1.whicdn.com/images/12846586/large.jpg" width="100%"></p>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"> </script>
  <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.1.0.min.js"> </script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"> </script>
  <script src="http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js"> </script>
  <script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"> </script>



</body>
</html>