<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>Nancy view</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
		<link href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
		<link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
       
	</head>
	<body>
		<div class="bs-component">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">MainSolutionTemplate</a>
				</div>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Features</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="panel panel-default">
				<div class="panel-body">
						<div class="form-control-wrapper"><input type="text" class="form-control empty" placeholder="label"><span class="material-input"></span></div>
				</div>
			</div>
		</div>

		<div class="footer">
			<a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html">Css</a>
		</div>

	</body>
</html>