<div ng-if="!data.display">
    <ul ng-if="data.list.items" class="collection">
        <li ng-repeat="item in data.list.items">
            <div class="collection-item">
                <span transpose="parent"/>
                <a class="secondary-content" ng-click="data.showEdit(item)"><i class="mdi-editor-mode-edit"></i></a>
                <a class="secondary-content" ng-click="data.removeItem(item)"><i class="mdi-action-delete"></i></a>
            </div>
        </li>
    </ul>
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="data.showAdd()"><i class="mdi-content-add"></i></a>

</div>
